---
import instagram from "../assets/instagram.svg";

interface Props {
  text: string;
  href: string;
  external?: boolean;
  textAsIs?: boolean;
  instagramIcon?: boolean;
}

const {
  text,
  href,
  external = false,
  textAsIs = false,
  instagramIcon = false,
} = Astro.props;
---

<a href={href} target={external ? "_blank" : "_self"}>
  <button style={textAsIs ? "text-transform: none;" : ""}>
    {instagramIcon ? <img src={instagram.src} alt="" /> : ""}
    {text}
  </button>
</a>

<style>
  button {
    background-color: #016ebc;
    border: none;
    border-radius: 54px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 32px;
      height: 32px;
    }

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    font-size: 32px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 64px;
  }
</style>
