---
import Button from "./Button.astro";
import instagram from "../assets/instagram.svg";
---

<div class="shared-container flex">
  <p class="p1">Como podemos te ajudar?</p>
  <Button text="Fale conosco" href="https://wa.me/5512996146999" />

  <Button
    text="@medpluscorretora"
    href="https://www.instagram.com/medpluscorretora/"
    instagramIcon
    textAsIs
  />
</div>
