<div class="shared-container" id="description">
  <p class="p1 left">Cada pessoa tem uma necessidade.</p>
  <p class="p3 left">
    Buscamos no mercado segurador sempre os melhores produtos para o seu perfil.
  </p>
  <p class="pBody left">
    Mais do que vender seguros, a MEDPLUS oferece um trabalho de consultoria,
    apresentando os melhores produtos das principais seguradoras do mercado,
    específicos para a sua necessidade. Trabalhamos com diversas seguradoras, o
    que nos permite encontrar a melhor opção de forma exclusiva e independente,
    garantindo total imparcialidade na hora de indicar a melhor solução.
  </p>
</div>

<style>
  div {
    p:last-child {
      margin-top: 16px;
    }
  }
</style>
