---
import background from "../assets/background2.jpg";
import Popover from "./Popover.astro";
import CaretDown from "./icons/CaretDown.astro";
---

<div class="wrapper" style={`background-image: url(${background.src})`}>
  <!-- <Popover /> -->
  <div class="hero">
    <div class="text">
      <div class="title">
        <p class="p3 invite">Conheça a:</p><p class="medplus lexend">
          medplus
        </p><p class="sector roboto">corretora de seguros</p>
      </div>
      <p class="subtitle roboto">
        Mais que um seguro <br /> somos uma consultoria independente <br /> que se
        preocupa com <span>você</span>
      </p>
    </div>
    <a href="#photos">
      <CaretDown height={48} width={48} />
    </a>
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }

  .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
      }

      .invite {
        color: white;
      }

      .medplus {
        font-weight: 600;
        font-size: 88px;
        text-transform: uppercase;
        color: white;
        letter-spacing: -10px;

        @media (min-width: 900px) {
          font-size: 136px;
        }
      }

      .sector {
        font-size: 32px;
        text-transform: uppercase;
        color: white;
      }
    }

    .subtitle {
      text-align: center;
      font-size: 24px;
      color: white;

      span {
        font-weight: 900;
        text-decoration: underline;
      }
    }

    .caret-down {
      width: 32px;
      height: 32px;
    }
  }
</style>
