---
import photos from "../assets/photos.png";
---

<div class="photos" style={`background-image: url(${photos.src})`}>
  <p class="roboto" id="photos">
    Há mais de 25 anos <br /> protegendo vidas
  </p>
</div>

<style>
  .photos {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 64px 0;
    background-position: center;
  }
</style>
